# {{ github.repository_name }}

![Project Maintenance](https://img.shields.io/maintenance/yes/2020.svg)
[![License](https://img.shields.io/github/license/{{ github.repository }}.svg)](https://github.com/{{ github.repository }}/blob/master/LICENSE)

![CI](https://github.com/{{ github.repository }}/workflows/CI/badge.svg)

[![Twitter Follow](https://img.shields.io/twitter/follow/pedrolamas?style=social)](https://twitter.com/pedrolamas)

Just another Typescript package template!
